@*@model IEnumerable<open_tracker.Models.Projects>*@

@{
    ViewData["Title"] = "Success";
}

<h1 class="mt-5 mb-3 text-center">Added member successfully</h1>

@*<div>
        <p>@ViewBag["FirstName"] @Vie["LastName"] was successfully added to @TempData["ProjectName"]</p>
</div>*@

@*@Html.DisplayNameFor(model => model.Name)*@

@* Make these functional *@
<div class="mx-auto justify-content-center text-center">
<a asp-action="AddMembers" asp-route-id="@ViewBag.ProjectId" class="btn btn-secondary btn-rounded btn-sm mt-3 mb-3 text-center mx-auto">Add more members</a>
<a asp-action="Details" asp-route-id="@ViewBag.ProjectId" class="btn btn-secondary btn-rounded btn-sm mt-3 mb-3 text-center mx-auto">Return to project details</a>
</div>
