@model open_tracker.Models.Projects

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mt-5 mb-5 text-center">Delete</h1>

<h3 class="mt-2">Are you sure you want to delete this project?</h3>
<div class="mx-auto">
    <hr />
    <dl class="row">
        <div class="col-md-12 mx-auto ">
        <dt class = "col-sm-12 mx-auto">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-12 mx-auto">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-12 mx-auto">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-12 mx-auto">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-12 mx-auto">
            @Html.DisplayNameFor(model => model.Repo)
        </dt>
        <dd class = "col-sm-12 mx-auto">
            @Html.DisplayFor(model => model.Repo)
        </dd>
            </div>
    </dl>
    
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="ProjectId" />
        <input type="submit" value="Delete" class="btn btn-danger btn-rounded btn-sm text-center mt-3" />
        <a class="btn btn-secondary btn-rounded btn-sm text-center mt-3" asp-action="Details" asp-route-id="@Model.ProjectId">Cancel</a>
    </form>
</div>
