@model open_tracker.Models.Projects

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<a asp-action="ProjectMembers" asp-route-id="@Model.ProjectId" class="btn btn-dark btn-rounded btn-sm ml-1 mt-3">Members</a>
<a asp-action="Index" asp-controller="Issues" asp-route-id="@Model.ProjectId" class="btn btn-dark btn-rounded btn-sm ml-1 mt-3">Issues</a>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repo)
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.Repo)"> @Html.DisplayFor(model => model.Repo)</a>
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary btn-rounded btn-sm ml-1 mt-1">Back</a>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-secondary btn-rounded btn-sm mt-1">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.ProjectId" class="btn btn-outline-danger btn-rounded btn-sm mt-1">Delete</a>
</div>
