@model IEnumerable<open_tracker.Models.Projects>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<a asp-action="Create" class="btn btn-dark btn-rounded btn-sm mt-3 mb-3">Create A New Project</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProjectId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                <a href=" @Html.DisplayFor(modelItem => item.Repo)"> @Html.DisplayFor(modelItem => item.Repo)</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
