@model IEnumerable<open_tracker.Models.ProjectMembers>

@{
    ViewData["Title"] = "Members";
}

<h1>Project Members</h1>

<a asp-action="AddMembers" asp-route-id="@Context.Request.RouteValues["id"]" class="btn btn-success btn-rounded btn-sm mt-3 mb-3">Add a new member</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @*asp-route-ProjectId="@item.ProjectId"*@
                    @*@item.User.Id*@
                    <a asp-action="ConfirmRemoveUser" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Details" asp-route-id="@Context.Request.RouteValues["id"]" class="btn btn-primary btn-rounded btn-sm ml-2">Back</a>
</div>