@model open_tracker.Models.Issues

@{ ViewData["Title"] = "Details"; }

<div class="mt-5 mx-auto w-50 d-flex flex-column align-items-center justify-content: space-between;">
    <h1 class="mb-5">Issue Details</h1>
    <p><b>Title:&nbsp;</b> @Html.DisplayFor(model => model.Title)</p>
    <p><b>@Html.DisplayNameFor(model => model.Description):&nbsp;</b> @Html.DisplayFor(model => model.Description)</p>
    <p><b>Created by:&nbsp;</b> @ViewBag.FirstName @ViewBag.LastName</p>
    <p><b>Priority:&nbsp;</b>@ViewBag.Priority</p>
    <p>
        <b>Assigned to:&nbsp;</b> @if (ViewBag.AssignedFirstName != null)
        {
            @($"{ViewBag.AssignedFirstName} {ViewBag.AssignedLastName}")
        }
    </p>
    @*<a class="btn btn-secondary btn-rounded btn-sm" asp-action="Edit" asp-route-id="@Model.IssueId">Edit</a>*@
<div class="mt-3">
    <a class="btn btn-secondary btn-rounded btn-sm" asp-action="Index" asp-route-id="@Model.ProjectId">Back</a>
    <a class="btn btn-secondary btn-rounded btn-sm" asp-action="Edit" asp-route-id="@Model.IssueId">Edit</a>
    <a class="btn btn-secondary btn-rounded btn-sm text-center" asp-action="AddMember" asp-route-id="@Model.IssueId">Manage Assigned Members</a>
</div>
</div>


<!--<div>
    <h1 class="mt-4 text-center mr-4">@Html.DisplayFor(model => model.Title)</h1>
    <hr />
    <dl class="row mt-4 text-center mx-auto w-50">
        <dt class="col-sm-2 text-center ml-5">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3 text-center ml-5">
            Created by
        </dt>
        <dd class="col-sm-5">-->
            @*@Html.DisplayFor(model => model.UserId)*@
            <!--@ViewBag.FirstName @ViewBag.LastName
        </dd>
        <dt class="col-sm-2 text-center ml-5">
            Priority
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Priority
        </dd>
        <dt class="col-sm-2 text-center ml-5">
            Assigned
        </dt>
        <dd class="col-sm-10">
            @if (ViewBag.AssignedFirstName != null)
            {
                @($"{ViewBag.AssignedFirstName} {ViewBag.AssignedLastName}")
            }
        </dd>
        <dt class="col-sm-2 text-center ml-5"><a class="mb-3" asp-action="AddMember" asp-route-id="@Model.IssueId">Manage Assigned Members</a></dt>
        <dd><a class="mb-3" asp-action="AddMember" asp-route-id="@Model.IssueId">Manage Assigned Members</a></dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary btn-rounded btn-sm" asp-action="Edit" asp-route-id="@Model.IssueId">Edit</a>
    <a class="btn btn-outline-secondary btn-rounded btn-sm" asp-action="Index" asp-route-id="@Model.ProjectId">Back</a>
</div>-->
