@model open_tracker.Models.Issues

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>

<div>
    <h4>Issues</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Created by
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            Priority
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriorityId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary btn-rounded btn-sm" asp-action="Edit" asp-route-id="@Model.IssueId">Edit</a>
    <a class="btn btn-outline-secondary btn-rounded btn-sm" asp-action="Index" asp-route-id="@Model.ProjectId">Back</a>
</div>
