@using Microsoft.AspNetCore.Identity
@using open_tracker.Models;
@using Microsoft.AspNetCore.Http 

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*@inject UserManager<WebPageUser> UserManager*@
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<open_tracker.Models.Issues>



@{ ViewData["Title"] = "Issues"; }

<h1 class="mt-5 mb-3 text-center">Issues</h1>

<p>
    <a class="btn btn-dark btn-rounded btn-sm mt-3 mb-3" asp-action="Create" asp-route-id="@Context.Request.RouteValues["id"]">Add Issue</a>
</p>
<table class="table mr-5">
    <thead>
        <tr>
            <th class="mr-5">
                Issue
            </th>
            <th>
                Priority
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="mr-3" asp-action="Details" asp-route-id="@item.IssueId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                    @if (UserManager.GetUserId(HttpContextAccessor.HttpContext.User) == item.CreatorId)
                        {
                            <a asp-action="Delete" asp-route-id="@item.IssueId">Delete</a>
                        }     
                </td>*@
            </tr>
        }
    </tbody>
</table>

<a asp-action="Details" asp-controller="Projects" asp-route-id="@Context.Request.RouteValues["id"]" class="btn btn-secondary btn-rounded btn-sm ml-1 mt-3">Back</a>
